.page-title,
.section-title {
  margin-top: 0;
  position: relative;

  &::before {
    content: '';
    background-color: $color-primary;
    border-radius: 2px;
    width: 5px;
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
  }
}

.page-title {
  font-size: $font-size-xl;
  font-weight: 300;
  margin-bottom: $spacer-lg;
  padding-left: $spacer-sm;
}

.section-title {
  font-size: $font-size-lg;
  font-weight: 500;
  margin-bottom: $spacer;
  padding-left: $spacer-sm;
}

code  {
  background-color: rgba(black, 0.03);
  font-size: 90%;
  padding: 3px;
}
